@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f6ff !important;
}

/* Navbar */
.navbar {
  backdrop-filter: blur(2px);
  background-color: rgba(66, 135, 245, 0.9);
}

.navbar-brand {
  letter-spacing: 2px;
  color: white !important;
  padding-top: 0 !important;
  font-size: 2rem !important;
  padding-bottom: 0 !important;
  font-family: "Righteous", sans-serif;
}

.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M6 6L24 24M6 24L24 6'/%3e%3c/svg%3e");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

/* Header */
header {
  padding-top: 80px;
  background-color: #4287f5;
}

header .title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

header .description {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

header .col:last-child {
  margin-top: 3.875rem;
}

/* Waves Animation */
.waves {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  position: relative;
  margin-bottom: -7px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Main */
main {
  padding: 1rem 0;
}

/* Services Section */
#services {
  padding: 7rem 0 2rem 0;
}

#services .title {
  font-size: 2rem;
  font-weight: 700;
  color: #4287f5;
  text-align: center;
}

#services .description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
}

#services .card {
  border-radius: 12px;
  border-color: #e4e4e4;
  transition: all 0.4s ease;
}

#services .card:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px -5px;
}

#services .card-body {
  padding: 1.25rem;
}

#services .box {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 0.75rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #f0f4ff;
}

#services .card-title {
  font-weight: 500;
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: color 0.4s ease;
}

#services .card:hover .card-title {
  color: #4287f5;
}

#services .card-text {
  font-size: 1rem;
  margin-bottom: 0;
  color: #333333;
}

/* Packages Section */
#packages {
  padding: 7rem 0 2rem 0;
}

#packages .title {
  font-size: 2rem;
  font-weight: 700;
  color: #4287f5;
  text-align: center;
}

#packages .description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
}

#packages .filter span {
  cursor: pointer;
  position: relative;
  padding-bottom: 1rem;
  transition: all 0.3s ease;
}

#packages .filter span.active {
  font-weight: 600;
  color: #4287f5;
}

#packages .filter span::after {
  left: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #4287f5;
  transition: width 0.3s ease;
}

#packages .filter span.active::after,
#packages .filter span:hover::after {
  width: 100%;
}

#packages .filter span:not(.active):hover {
  color: #4287f5;
}

#packages .package-content {
  margin-top: 2rem;
}

/* Package Mobile */
#packages .package-content #packageMobile .card {
  border-color: #e4e4e4;
  transition: all 0.4s ease;
}

#packages .package-content #packageMobile .card:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px -5px;
}

#packages .package-content #packageMobile .card .card-title {
  font-weight: 700;
  color: #4287f5;
  font-size: 1.5rem;
}

#packages .package-content #packageMobile .card .card-subtitle {
  color: #4287f5;
  font-weight: 500;
}

#packages .package-content #packageMobile .card .card-price {
  font-size: 2rem;
  color: #4287f5;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#packages .package-content #packageMobile .card .custom-list {
  padding-left: 0;
  list-style: none;
}

#packages .package-content #packageMobile .card .custom-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.875rem;
}

#packages .package-content #packageMobile .card .custom-list li:last-child {
  margin-bottom: 0;
}

#packages .package-content #packageMobile .card .custom-list li::before {
  left: 0;
  top: 2px;
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%234287f5' class='bi bi-check-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E");
}

#packages .package-content #packageMobile .card a.btn {
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(to right, #4287f5, #5d99f5, #00b4ff);
}

/* Section About */
#about {
  padding: 7rem 0 2rem 0;
}

#about .title {
  font-size: 2rem;
  font-weight: 700;
  color: #4287f5;
}

#about .description {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #333333;
  text-align: justify;
}

#about .card .icon-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  padding: 0.625rem;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #3557ed;
}

#about .image-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

#about .image-wrapper::before {
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  top: 2.5rem;
  content: "";
  position: absolute;
  background-color: #4287f5;
  border-top-right-radius: 130px;
  box-shadow: 0 -10px 0 0 rgba(66, 135, 245, 0.5);
}

#about .image-wrapper img {
  z-index: 1;
  width: 80%;
  height: auto;
  max-width: 100%;
  position: relative;
}

/* Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 6s infinite linear;
}

/* Breakpoint */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

@media (min-width: 576px) {
  #about .image-wrapper::before {
    border-top-right-radius: 150px;
  }
}

@media (min-width: 768px) {
  header .title {
    font-size: 2.5rem;
  }

  #services .title {
    font-size: 2.5rem;
  }

  #services .description {
    font-size: 1.125rem;
  }

  #packages .title {
    font-size: 2.5rem;
  }

  #packages .description {
    font-size: 1.125rem;
  }

  #packages .package-content #packageMobile .card .card-price {
    font-size: 2.5rem;
  }

  #about .title {
    font-size: 2.5rem;
  }

  #about .description {
    font-size: 1.125rem;
  }

  #about .image-wrapper::before {
    border-top-right-radius: 200px;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .navbar-nav .nav-link:last-child {
    padding-right: 0 !important;
  }

  header {
    padding-top: 180px;
  }

  header .container {
    margin-bottom: 6.25rem;
  }

  #services .description {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #packages .description {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #about .image-wrapper::before {
    border-top-right-radius: 150px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
  }

  header .title {
    font-size: 3rem;
  }

  #services .row {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #services .description {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #packages .description {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #packages .package-content #packageMobile .card .card-price {
    font-size: 3rem;
  }

  #about .image-wrapper::before {
    border-top-right-radius: 180px;
  }
}
